body {
    animation: bodyimg 1s;
}

@keyframes bodyimg {
    0% {
        /* background: rgba(255, 255, 255, 1); */
        opacity: 0;
    }
    100% {
        /* background: rgba(255, 255, 255, 0); */
        opacity: 1;
    }
}

.left {
    background-color: #00b894;
    width: 30vw;
    /* min-width: 30vh; */
    height: 100vh;
    position: absolute;
    z-index: -9999;
    animation: myfirst 2s;
    -webkit-animation: left1 2s;
    opacity: 0.5;
    /* Safari 与 Chrome */
}

@keyframes left1 {
    0% {
        background: red;
        left: -60vh;
        top: 0px;
    }
    50% {
        background: blue;
        left: -10vw;
        top: 0px;
    }
    100% {
        background: #00b894;
        left: 0px;
        top: 0px;
    }
}

@-webkit-keyframes left1
/* Safari 与 Chrome */

{
    0% {
        background: red;
        left: -60vh;
        top: 0px;
    }
    50% {
        background: blue;
        left: -10vw;
        top: 0px;
    }
    100% {
        background: #00b894;
        left: 0px;
        top: 0px;
    }
}

.box span {
    line-height: 50px;
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
}

#box1 {
    animation: box1 2s;
    -webkit-animation: box1 2s;
    width: 15vw;
    height: 50px;
    position: absolute;
    background-color: yellow;
    top: 100px;
    left: 25vw;
}

#box2 {
    animation: box1 2s;
    -webkit-animation: box1 2s;
    width: 15vw;
    height: 50px;
    position: absolute;
    background-color: yellow;
    top: 200px;
    left: 25vw;
}

#box3 {
    animation: box1 2s;
    -webkit-animation: box1 2s;
    width: 15vw;
    height: 50px;
    position: absolute;
    background-color: yellow;
    top: 300px;
    left: 25vw;
}

@keyframes box1 {
    0% {
        background: yellow;
        left: -30vw;
    }
    50% {
        background: yellow;
        left: 10vw;
    }
    100% {
        background: yellow;
        left: 25vw;
    }
}

.header h1 {
    float: left;
    color: #fff;
    animation: biaoti 3s;
}

@keyframes biaoti {
    0% {
        color: rgba(255, 255, 255, 0);
    }
    50% {
        color: rgba(255, 255, 255, 0.5);
    }
    100% {
        color: rgba(255, 255, 255, 1);
    }
}