body {
    animation: bodyimg 1s;
    /* background: url(https://tva3.sinaimg.cn/large/0072Vf1pgy1foxkjbqfwjj31hc0u0000.jpg);
     */
    /* background: url(https://cn.bing.com//th?id=OHR.ElPit_ZH-CN1174143508_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp); */
    font-family: fywr;
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'fywr';
    src: url('https://file.kaygb.top/static_css/fywr.ttf');
}

@keyframes bodyimg {
    0% {
        /* background: rgba(255, 255, 255, 1); */
        opacity: 0;
    }
    10% {
        /* background: rgba(255, 255, 255, 1); */
        opacity: 0.1;
    }
    20% {
        /* background: rgba(255, 255, 255, 1); */
        opacity: 0.2;
    }
    30% {
        /* background: rgba(255, 255, 255, 1); */
        opacity: 0.3;
    }
    40% {
        /* background: rgba(255, 255, 255, 1); */
        opacity: 0.4;
    }
    50% {
        /* background: rgba(255, 255, 255, 1); */
        opacity: 0.5;
    }
    60% {
        /* background: rgba(255, 255, 255, 1); */
        opacity: 0.6;
    }
    70% {
        /* background: rgba(255, 255, 255, 1); */
        opacity: 0.7;
    }
    80% {
        /* background: rgba(255, 255, 255, 1); */
        opacity: 0.8;
    }
    90% {
        /* background: rgba(255, 255, 255, 1); */
        opacity: 0.9;
    }
    100% {
        /* background: rgba(255, 255, 255, 0); */
        opacity: 1;
    }
}

#zhezhao {
    background-color: #34495e;
    width: 100vw;
    /* min-width: 30vh; */
    height: 100vh;
    position: absolute;
    z-index: -9999;
    animation: myfirst 2s;
    /* -webkit-animation: left1 2s; */
    opacity: 0.5;
}

.box {
    display: block;
}

.kaygb_url {
    line-height: 100px;
    font-size: 2em;
    font-family: fywr;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    padding: 20px;
}

#box1,
#box2,
#box3 {
    width: 20vw;
    height: 100px;
    position: absolute;
    background-color: yellow;
    line-height: 100px;
    border-radius: 10px;
}

#box1 {
    top: 30vh;
    left: 5vw;
    animation: box1 2s;
    -webkit-animation: box1 2s;
}

#box2 {
    top: 50vh;
    left: 10vw;
    animation: box2 2s;
    -webkit-animation: box2 2s;
}

#box3 {
    top: 70vh;
    left: 15vw;
    animation: box3 2s;
    -webkit-animation: box3 2s;
}

@keyframes box1 {
    0% {
        background: yellow;
        left: -30vw;
    }
    100% {
        background: yellow;
        left: 5vw;
    }
}

@keyframes box2 {
    0% {
        background: yellow;
        left: -30vw;
    }
    100% {
        background: yellow;
        left: 10vw;
    }
}

@keyframes box3 {
    0% {
        background: yellow;
        left: -30vw;
    }
    100% {
        background: yellow;
        left: 15vw;
    }
}

.headerbac {
    width: 100%;
    background: #00b894;
    position: fixed;
    height: 100px;
}

.header h1 {
    float: left;
    color: #fff;
    animation: biaoti 1s;
    background-color: seagreen;
    padding: 20px;
    font-family: fywr;
}

@keyframes biaoti {
    0% {
        color: rgba(255, 255, 255, 0);
    }
    50% {
        color: rgba(255, 255, 255, 0.5);
    }
    100% {
        color: rgba(255, 255, 255, 1);
    }
}